<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>建筑业环保税、水资源税预警</title>
</head>
<body>
<h1>建筑业环保税、水资源税预警</h1>
<iframe
    src="http://10.0.23.98:8080/fwp/brower.html?objpath=%2FProject%2FReports%2Fsamples%2Ftest%2F%E9%A1%B5%E9%9D%A21.fwp"
    frameborder="0"
    width="100%"
    height="100%"
    allowtransparency
></iframe>
<script>
    // location.hash('http://10.0.23.99:8088/mxw/add_ons/MxwFpd/View.aspx?objpath=/reports/adp/showlog7322/sjjcjkgl/top.fpd&t=0.3071154609168212')
</script>
</body>
</html>